<form action='recipients' method="get">
  <input type="submit" value="View/Create Recipients"/>
</form>
</br>
<form action='payments' method="get">
  <input type="submit" value="View/Create Payments"/>
</form>
