<%= @recipients %>
<h1>Create Recipient</h1>
<form action='recipients' method="post">
  <label for='username'>
    Username
    <input type="text" name="username"/>
  </label>
  <input type="submit" value="Submit"/>
</form>
