<% @recipients["recipients"].each do |recipient| %>
  <%= recipient %>
  </br>
<% end %>
<h1>Create Recipient</h1>
<form action='recipients/new' method="post">
  <label for='username'>
    Username
    <input type="text" name="username"/>
  </label>
  <input type="submit" value="Submit"/>
</form>
</br>
<form action='/' method="get">
  <input type="submit" value="Homepage"/>
</form>
