<%= @payments %>
</br>
<h1>Make Payment</h1>
<form action='payments' method="post">
  <label for='amount'>
    Amount
    <input type="number" name="amount"/>
  </label>
  <label for='currency'>
    Currency
    <input type="text" name="currency"/>
  </label>
  <label for='amount'>
    Recipient_id
    <input type="text" name="recipient_id"/>
  </label>
  <input type="submit" value="Submit"/>
</form>
