<%= @payments %>
</br>
<h1>Make Payment</h1>
<form action='payments' method="post">
  <label for='amount'>
    Amount
    <input type="number" name="amount"/>
  </label>
  <label for='currency'>
    Currency
    <input type="text" name="currency"/>
  </label>
  <label for='amount'>
    Recipient_id
    <input type="text" name="recipient_id"/>
  </label>
  <input type="submit" value="Submit"/>
</form>

<h1>Check Status Of A Payment</h1>
<form action='payments/:id' method="get">
</br>
  <label for='payment_id'>
    Payment_ID
    <input type="text" name="payment_id"/>
  </label>
  <input type="submit" value="Check Status"/>
</form>
</br>
<form action='/' method="get">
  <input type="submit" value="Homepage"/>
</form>
